<template>

    <div class="index-component">

        <div class="tree-view">

            <h3 class="mt-3">Local Tree</h3>

            <tree-view
                    :nodes="localTree"
                    :readonly="false"
                    v-bind:value.sync="selectedLocalTreeItemId"
            ></tree-view>

            <div class="mb-3 mt-3">
                <button class="btn btn-primary mr-2" :disabled="!selectedLocalTreeItemId" @click="addChildrenToNode(selectedLocalTreeItemId)">Add child node</button>
                <button class="btn btn-primary mr-2" :disabled="!selectedLocalTreeItemId" @click="renameNode(selectedLocalTreeItemId)">Rename node</button>
                <button class="btn btn-danger" :disabled="!selectedLocalTreeItemId" @click="deleteNode(selectedLocalTreeItemId)">Delete node</button>
            </div>

            <div>
                <button class="btn btn-success mr-2" :disabled="!flatLocalTree.length" @click="saveTreeItems()">Save tree</button>
                <button class="btn btn-danger" @click="resetApp()">Reset app</button>
            </div>

        </div>

        <div class="tree-view">

            <h3 class="mt-3">DB Tree</h3>

            <tree-view
                    :nodes="DBTree"
                    :readonly="true"
                    v-bind:value.sync="selectedDBTreeItemId"
            ></tree-view>

            <button class="btn btn-primary mt-3" :disabled="!selectedDBTreeItemId" @click="addNodeToLocalTree(selectedDBTreeItemId)">Add node to left tree</button>

        </div>

    </div>

</template>

<script>
    import axios from 'axios';
    import lodash from 'lodash';

    let buildTree = (tree) => {
        let processedItems = {};
        let roots = {};

        let processItem = (item) => {
            if (processedItems[item.id]) {
                return;
            }
            item.children = [];

            if (item.parent_id && !processedItems[item.parent_id]) {
                let parent = findById(tree, item.parent_id);
                if (parent) {
                    processItem(parent);
                }
            }
            if (processedItems[item.parent_id]) {
                if (processedItems[item.parent_id].deleted) {
                    item.deleted = true;
                }
                processedItems[item.parent_id].children.push(item);
            } else {
                roots[item.id] = item;
            }
            processedItems[item.id] = item;
        };
        _.each(tree, processItem);

        return roots;
    };

    let findById = (arr, value, key = 'id') => {
        return _.find(arr, [key, value]);
    };

    let searchInTree = (tree, matchingId) => {
        let result = null;
        let search = (item) => {
            if (item.id === matchingId) {
                result = item;
            } else {
                _.each(item.children, function(child) {
                    result = search(child, matchingId);
                });
            }

            return result;
        };
        _.each(tree, search);

        return result;
    };

    let createNewNode = (parentId) => {
        return {
            id: -(Math.floor(Math.random() * 899999) + 100000),
            name: 'NewNode',
            deleted: false,
            initial: 0,
            parent_id: parentId,
            children: [],
        }
    };

    export default {
        data: function() {
            return {
                flatLocalTree: [],
                localTree: [],
                DBTree: [],
                selectedLocalTreeItemId: 0,
                selectedDBTreeItemId: 0
            }
        },
        mounted() {
            let app = this;
            axios.get('/api/v1/tree-items')
                .then(function(resp) {
                    app.DBTree = resp.data;
                })
                .catch(function() {
                    alert("Couldn\'t load tree items");
                });
        },
        methods: {
            saveTreeItems() {
                let app = this;
                axios.post('/api/v1/tree-items/save-tree', this.flatLocalTree)
                    .then(function(resp) {
                        app.DBTree = resp.data['tree'];
                        let itemsToHandle = resp.data['itemsToHandle'];
                        _.each(itemsToHandle, function(item) {
                            //если элемент добавлен пользователем или удален
                            if (item['oldId'] < 0 || item['deleted'] === true) {
                                let nodeInFlatTree = findById(app.flatLocalTree, item['oldId']);
                                let node = searchInTree(app.localTree, item['oldId']);
                                //для добавленных элементов заменим id на настоящие
                                if (item['oldId'] < 0) {
                                    let parentElementIdData = findById(itemsToHandle, nodeInFlatTree.parent_id, 'oldId');
                                    nodeInFlatTree.id = item['newId'];
                                    nodeInFlatTree.parent_id = parentElementIdData['newId'];
                                }
                                nodeInFlatTree.deleted = item['deleted'];
                                node.deleted = item['deleted'];
                            }
                        });
                        app.selectedLocalTreeItemId = 0;
                        app.selectedDBTreeItemId = 0;
                        alert("Tree items saved");
                    })
                    .catch(function() {
                        alert("Couldn\'t save tree items");
                    });
            },
            addNodeToLocalTree(id) {
                let app = this;
                if (!findById(app.flatLocalTree, id)) {
                    axios.get('/api/v1/tree-items/' + id)
                        .then(function(resp) {
                            let newTreeItem = resp.data;
                            app.flatLocalTree.push(newTreeItem);
                            let flatLocalTree = _.cloneDeep(app.flatLocalTree);
                            app.localTree = _.toArray(buildTree(flatLocalTree));
                        })
                        .catch(function() {
                            alert("Couldn\'t load tree item");
                        });
                }
            },
            addChildrenToNode(parentId) {
                let newNode = createNewNode(parentId);
                let parentNode = searchInTree(this.localTree, parentId);
                this.flatLocalTree.push(newNode);
                parentNode.children.push(newNode);
            },
            deleteNode(id) {
                if (!confirm('Are you sure you want to delete this tree item?')) {
                    return false;
                }
                let deleteRecursively = (node) => {
                    node.deleted = true;
                    let nodeInFlatTree = findById(this.flatLocalTree, node.id);
                    nodeInFlatTree.deleted = true;
                    _.each(node.children, function(child) {
                        deleteRecursively(child);
                    });
                };
                let node = searchInTree(this.localTree, id);
                //элемент удаляется вместе со всеми потомками
                deleteRecursively(node);
                this.selectedLocalTreeItemId = 0;
            },
            renameNode(id) {
                let nodeInFlatTree = findById(this.flatLocalTree, id);
                let newName = prompt('Enter new node name', nodeInFlatTree.name);
                if (newName !== '') {
                    let node = searchInTree(this.localTree, id);
                    nodeInFlatTree.name = newName;
                    node.name = newName;
                } else {
                    alert('Name can\'t be empty');
                }
            },
            resetApp() {
                if (!confirm('Are you sure you want to reset app?')) {
                    return false;
                }
                let app = this;
                axios.get('/api/v1/tree-items/reset')
                    .then(function(resp) {
                        app.DBTree = resp.data;
                        app.flatLocalTree = [];
                        app.localTree = [];
                        app.selectedLocalTreeItemId = 0;
                        app.selectedDBTreeItemId = 0;
                    })
                    .catch(function() {
                        alert("Couldn\'t reset application");
                    });
            }
        },
    }
</script>

<style lang="css">
    .index-component {
        display: flex;
        justify-content: space-between;
    }
    .tree-view{
        width: 40%;
    }
</style>
