<template>

    <div :class="{'tree-view__root': isRoot, 'tree-view__node': isNode}">

        <template v-if="isRoot">

            <div
                is="tree-view"
                v-for="node in nodes"
                v-on:update:value="$emit('update:value', $event)"
                :node="node"
                :readonly="readonly"
                v-model="value"
            ></div>

        </template>

        <template v-else-if="isNode">

            <div class="tree-view__node-name"
                :class="{'tree-view__node-name_bold': isSelected, 'tree-view__node-name_deleted': node.deleted}"
                @click="selectNode()"
            >
                {{ node.name }}
            </div>

            <div
                is="tree-view"
                v-for="child in node.children"
                v-on:update:value="$emit('update:value', $event)"
                :node="child"
                :readonly="readonly"
                v-model="value"
                ref="children"
            ></div>

        </template>

    </div>

</template>

<script>
    export default {
        name: 'TreeView',
        props: {
            node: {
                type: Object,
                default: null
            },
            nodes: {
                type: Array,
                default: null
            },
            value: {
                default: null,
                twoWay: true
            },
            readonly: {
                type: Boolean,
                default: false
            },
        },
        computed: {
            isSelected() {
                return Boolean(this.isNode && this.value === this.node.id);
            },
            isRoot() {
                return Boolean(typeof this.nodes === 'object' && this.nodes !== null);
            },
            isNode() {
                return Boolean(!this.isRoot && typeof this.node === 'object' && this.node);
            },
        },
        methods: {
            selectNode() {
                if (this.node.deleted || this.isSelected) {
                    return;
                }
                this.$emit('update:value', this.node.id);
            },
        }
    }
</script>

<style lang="css">
    .tree-view__root {
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        padding: 4px 6px;
        display: block;
        min-width: 200px;
        height: 400px;
        overflow-y: scroll;
    }
    .tree-view__node {
        margin-left: .75rem;
    }
    .tree-view__root > .tree-view__node {
        margin-left: 0;
    }
    .tree-view__node-name {
        color: #555;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;
    }
    .tree-view__node-name_bold {
        font-weight: bolder;
    }
    .tree-view__node-name_deleted {
        font-weight: normal;
        cursor: default;
        opacity: .3;
    }
</style>